.lazy-media {
    display: grid;
    min-height: 50px;
    
    &.preloading {
        /*filter: opacity(0.9);
        background: white;*/
        background: #f4f4f4;
        
        &.hidden {
            display: none;
        }
    }

    &.loading {
        &.hidden {
            display: none;
        }

        &.img {
            
        }
    }

    &.loaded {
        opacity: 1;
    
        &.hidden {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 'opacity 0.5s';
        }
    }
}

